/* span.css-10trblm.e16nr0p30{
    color: #FFFFFF;
    text-align: center;
} */

span.css-10trblm.e16nr0p30{
    color: #FFFFFF;
    text-align: center;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}